*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    transition: all .3s linear;

}

.containerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.containerForm form {
    border: 1px solid #000;
    padding: 2rem 2rem 0rem 2rem;
    border-radius: 5px;
    width: 300px;
}

.containerForm form h2 {
    color: #363636;
    font-size: 1.1rem;
    margin-bottom: .3rem;
}

.containerForm form span {
    color: red;
}

.containerForm form input {
    margin-bottom: 1rem;
    width: 100%;
   height: 30px;
   padding-left:.5rem;
   border-radius: 5px;
   border: 1px solid #eee;
}

.containerForm form textarea{
    resize: none;
    width: 100%;
    height: 100px;
    padding-left:.5rem;
    border-radius: 5px;
    border: 1px solid #eee;
    margin-bottom: 1rem;
}

.containerForm form .btn {
    background-color: #010101cf;
    height: 35px;
    cursor: pointer;
    color: #fff;
}

.containerForm form .btn:hover{
    background-color: #000;

}

.menu{
    background: #fff;
    color: #000;
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.login{
    text-align: center;
    justify-content: center;
    margin: 1rem;
}

.login h4 {
    margin-bottom: 1rem;
}

.login button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: .5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.posts{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.container-post{
    margin: 3rem 0;
    border: 1px solid ;
    padding: 1rem;
    border-radius: 5px;
}

.container-post .name{
    font-size: 1.3rem;
    color: #000;
    margin-bottom: .5rem;
}

.container-post .title {
    font-size: 1.1rem;
    margin-bottom: .3rem;
    color: #363636;
}

.container-post .desc {
    margin-bottom: .5rem;
}

.likes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #fff;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:500px) {
    .menu {
        display: block;
    }
    .user{
        position: absolute;
        top: 9%;
        right: 0; left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #000;
    }
      
}